:root{
--header-color: #212121;
--text-color: #5A5A5A;
--true: #1A961A;
--false: #E52C2C;
--main-color: #1C199A;
--yellow: #FFC540;
--pink: #F58CC5;
--info-color1: #27CCBC;
--info-color2: #BFF8E9;
--info-color3: #F4F4F2;
--bg-color1: #584DFF;
--bg-color2: #CDCAFF;
--bg-color3: #ECEAFF;
}