<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>À propos | Access+</title>
    <script src="https://cdn.jsdelivr.net/npm/wordcloud@1.1.0"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/png" href="../img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Access+" />
    <link rel="manifest" href="../img/favicon/site.webmanifest" />
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="../index.html">
                <span class="sr-only">Accueil</span>
                <div class="logo"></div>
            </a>

        </div>
        <div class="menu" tabindex="0">
            <span class="sr-only">Menu de navigation</span>
            <div class="burger">
                <div class="burger_line line1"></div>
                <div class="burger_line line2"></div>
                <div class="burger_line line3"></div>
            </div>
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="../index.html">Accueil</a></li>
                <li class="dropdown">
                    <div class="dropbtn">
                        <span tabindex="0" class="link">Handicaps</span>
                        <div class="chevron"></div>
                    </div>
                    <ul class="dropdown-content">
                        <li><a href="../index.html#visual">Visuel</a></li>
                        <li><a href="../index.html#physical">Moteur</a></li>
                        <li><a href="../index.html#hearing">Auditif</a></li>
                        <li><a href="../index.html#cognitive">Cognitif</a></li>
                        <li><a href="../index.html#intelPsych">Intellectuel et Psychique</a></li>
                    </ul>
                </li>
                <li><a href="about.html">À propos</a></li>
            </ul>
        </nav>
    </header>
    <main class="about">
        <h1>À propos</h1>
        <div class="who-container">
            <div>
                <h2>Qui suis-je ?</h2>
                <p>Étudiante en première année de BUT MMI et grande rêveuse, j'ai pour objectif d'améliorer mon
                    inspiration
                    artistique à travers les défis que me lancent ma formation pour façonner mes rêves à ma guise. Douée
                    dans
                    divers arts, je reste néanmoins une férue du monde de l'informatique. En espérant que ce projet vous
                    plaira
                    autant qu'il m'a enthousiasmée pendant sa conception, je vous invite à découvrir mon précédent
                    projet
                    réalisé durant ma formation: <a href="https://resaweb.ali-abdallah.butmmi.o2switch.site/index.php"
                        title="Nouvelle fenêtre" target="_blank" rel="noreferrer noopener">Résaweb - Olympe
                        Express</a>.<br><br>
                    <strong>Assia</strong>
                </p>
            </div>
            <div class="me">
                <img src="../img/moi.jpg" alt="">
            </div>
        </div>
        <h2>Le concept</h2>
        <p>Le deuxième semestre avait pour but de nous familiariser au langage PHP/MySQL et à la gestion de base de
            données à travers la création d'un site de réservation dont le thème était libre de choix. Adepte de
            littérature et passionné de mythologie grecque, il ne m'a pas fallu longtemps pour porter mon choix sur la
            période de la Grèce antique où dieux et héros légendaires étaient de mise. J'ai donc eu l'idée de créer un
            site de réservation qui permettrait aux passionnés comme moi d'entrer en contact avec les célèbres dieux de
            l'Olympe. L'enjeu résidait dans la création d'une identité distinctive pour chaque dieu, en respectant
            fidèlement les récits qui les décrivent. J'ai donc conçu l'entièreté du site Olympe Express en passant par
            son design, son développement front-end et back-end, et la création de sa base de données.</p>

        <h2> Mentions légales</h2>
        <h3>Éditeur du site</h3>
        <p>Le présent site est édité par l'Université Gustave Eiffel, établissement public national à
            caractère scientifique, culturel et professionnel, dont le numéro SIREN est 130 026 123.
            L'activité principale de l'Université est l'enseignement supérieur (Code NAF/APE :
            85.42Z).<br><br>
            <strong>Directeur de la publication :</strong> Gilles Roussel, président de l’Université Gustave Eiffel
            <br><strong>Adresse physique :</strong> 5 Boulevard Descartes, 77420 Champs-sur-Marne
            <br><strong>Téléphone :</strong> +33 (0)1 60 95 75 00
            <br><strong>Email :</strong> webmaster@univ-eiffel.fr
            <br><strong>Délégué à la Protection des Données :</strong><br>
            En conformité avec le RGPD, le Délégué à la Protection des Données (DPO) de ce site
            est assuré par l’Université Gustave Eiffel de Champs-sur-Marne. Celui-ci est disponible
            pour toute question relative à la gestion de vos données personnelles.<br><br>
            Nom : Véronique Juge
            <br>Email : <a
                href="mailto:protectiondesdonnees-dpo@univ-eiffel.fr">protectiondesdonnees-dpo@univ-eiffel.fr</a>
            <br>Adresse : 5 Boulevard Descartes, 77420 Champs-sur-Marne
        </p>
        <h3>Hébergeur</h3>
        <p>Ce site est hébergé par GitHub B.V., une société commerciale étrangère immatriculée
            au RCS, dont le siège social est situé au PRIUS Bernhardplein 200, Pays-Bas.
        <p>
        <h3>Contributeur</h3>
        <p>L’habillage graphique, le développement, le logo de la marque Access+ et les textes présents dans ce site ont
            été conçus par Assia ALI ABDALLAH.
            Une recherche de marque a été faite sur le site Access+. Celle-ci est disponible auprès
            de l’Institut National de la Propriété Industrielle (INPI).</p>
        <h3>Données personnelles</h3>
        <p>Le Règlement général sur la protection des données (RGPD) ne s’applique pas à ce site,
            car aucune donnée à caractère personnel n’est collectée ni traitée.
            <br><br>Cependant, des services externes, comme Google Fonts ou GitHub Pages (Conditions
            Générales d'Utilisation de GitHub), peuvent collecter certaines informations
            techniques, telles que les adresses IP ou les cookies, lors de l'accès à leur contenu pour
            des raisons de sécurité.
        </p>
        <h2>Sources</h2>
        <a href="https://www.data.gouv.fr/fr/datasets/barometre-du-numerique/#/community-reuses" target="_blank"
            title="Nouvelle fenêtre"><strong>Baromètre du Numérique</strong></a><br>
        <p>Les données relatives au Baromètre du Numérique sont issues de la plateforme
            <strong>data.gouv.fr</strong>. Elle est mise à disposition sous l'Open Data Commons Open Database
            License (ODbL). Vous pouvez consulter les conditions d’utilisation des données en
            cliquant sur le lien suivant : <a href="https://opendatacommons.org/licenses/odbl/summary/" target="_blank"
                title="Nouvelle fenêtre">Droits d'utilisation du Baromètre du Numérique</a>.
        </p>

        <a href="https://www.data.gouv.fr/fr/datasets/observatoire-de-laccessibilite-numerique-rgaa/" target="_blank"
            title="Nouvelle fenêtre"><strong>Observatoire de l’accessibilité numérique (RGAA)</strong></a><br>
        <p>Les données concernant l’Observatoire de l’accessibilité numérique (RGAA) sont
            également issues de <strong>data.gouv.fr</strong> sous la même licence. Pour plus d'informations sur
            les droits d’utilisation, veuillez consulter le lien suivant : <a
                href="https://opendatacommons.org/licenses/odbl/summary/" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de
                l'Observatoire de l'Accessibilité Numérique</a>.</p>

        <a href="https://fonts.google.com/specimen/Source+Sans+3" target="_blank"
            title="Nouvelle fenêtre"><strong>Source Sans 3 (Google Fonts)</strong></a><br>
        <p>La police Source Sans 3 provient de <strong>fonts.google.com</strong> et est mise à disposition sous la SIL
            Open Font License. Vous pouvez consulter les termes de la licence en cliquant sur le
            lien suivant : <a href="https://openfontlicense.org/open-font-license-official-text/" target="_blank"
                title="Nouvelle fenêtre">Droits d'utilisation de Source Sans 3</a>.</p>

        <a href="https://fonts.google.com/specimen/Ubuntu?query=ubuntu" target="_blank"
            title="Nouvelle fenêtre"><strong>Ubuntu (Google Fonts)</strong></a><br>
        <p>La police Ubuntu provient aussi de <strong>fonts.google.com</strong> et est disponible sous la UBUNTU
            FONT LICENCE. Vous pouvez consulter les termes de la licence en cliquant sur le lien
            suivant : <a href="https://ubuntu.com/legal/font-licence" target="_blank" title="Nouvelle fenêtre">Droits
                d'utilisation de Ubuntu</a>.</p>

        <a href="https://fonts.google.com/specimen/Covered+By+Your+Grace" target="_blank"
            title="Nouvelle fenêtre"><strong>Covered By Your Grace (Google Fonts)</strong></a><br>
        <p>La police Covered By Your Grace est disponible sur <strong>fonts.google.com</strong> et est sous la SIL Open
            Font License. Vous pouvez consulter les termes de la licence en cliquant sur le lien
            suivant : <a href="https://openfontlicense.org/open-font-license-official-text/" target="_blank"
                title="Nouvelle fenêtre">Droits d'utilisation de Covered By Your Grace</a>.</p>

        <a href="https://www.freepik.com/free-vector/electronic-accessibility-abstract-concept-vector-illustration-accessibility-websites-electronic-device-disabled-people-communication-technology-adjustable-web-pages-abstract-metaphor_24122185.htm#fromView=search&page=1&position=0&uuid=ed5f387b-022c-444c-b2ff-f5b4edc7dcad"
            target="_blank" title="Nouvelle fenêtre"><strong>accessibility-illustration.svg</strong></a><br>
        <p>L’image accessibility-illustration.svg provient de <strong>freepik.com</strong> et est disponible sous la
            licence Freepik Free. Vous pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.freepik.com/legal/terms-of-use#nav-freepik-license" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image accessibility-illustration.svg</a>.
        </p>

        <a href="https://www.pexels.com/fr-fr/photo/homme-lunettes-de-soleil-etre-assis-ordinateur-6981103/"
            target="_blank" title="Nouvelle fenêtre" id="visual-img"><strong>visual.jpg</strong></a><br>
        <p>L’image visual.jpg provient de <strong>pexels.com</strong> et est disponible sous la licence Pexels. Vous
            pouvez
            consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.pexels.com/fr-FR/license/" target="_blank" title="Nouvelle fenêtre">Droits
                d'utilisation de l’image visual.jpg</a>.
        </p>

        <a href="https://www.pexels.com/fr-fr/photo/jeune-femme-aidant-l-homme-senior-avec-paiement-sur-internet-a-l-aide-d-un-ordinateur-portable-3823488/"
            target="_blank" title="Nouvelle fenêtre" id="physical-img"><strong>physical.jpg</strong></a><br>
        <p>L’image physical.jpg provient de <strong>pexels.com</strong> et est disponible sous la licence Pexels. Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.pexels.com/fr-FR/license/" target="_blank" title="Nouvelle fenêtre">Droits
                d'utilisation de l’image physical.jpg</a>.
        </p>

        <a href="https://www.pexels.com/fr-fr/photo/femmes-etre-assis-robe-pantalon-10029744/" target="_blank"
            title="Nouvelle fenêtre" id="hearing-img"><strong>hearing.jpg</strong></a><br>
        <p>L’image hearing.jpg provient de <strong>pexels.com</strong> et est disponible sous la licence Pexels. Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.pexels.com/fr-FR/license/" target="_blank" title="Nouvelle fenêtre">Droits
                d'utilisation de l’image hearing.jpg</a>.
        </p>

        <a href="https://www.pexels.com/fr-fr/photo/homme-jeune-fille-etre-assis-regarder-8653718/" target="_blank"
            title="Nouvelle fenêtre" id="cognitive-img"><strong>cognitive.jpg</strong></a><br>
        <p>L’image cognitive.jpg provient de <strong>pexels.com</strong> et est disponible sous la licence Pexels. Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.pexels.com/fr-FR/license/" target="_blank" title="Nouvelle fenêtre">Droits
                d'utilisation de l’image cognitive.jpg</a>.
        </p>

        <a href="https://www.pexels.com/fr-fr/photo/femme-en-chemise-blanche-montrant-la-frustration-3807738/"
            target="_blank" title="Nouvelle fenêtre" id="intelPsych-img"><strong>intelPsych.jpg</strong></a><br>
        <p>L’image intelPsych.jpg provient de <strong>pexels.com</strong> et est disponible sous la licence Pexels. Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.pexels.com/fr-FR/license/" target="_blank" title="Nouvelle fenêtre">Droits
                d'utilisation de l’image intelPsych.jpg</a>.
        </p>

        <a href="https://www.freepik.com/free-vector/flat-emoticon-reaction-collectio_4454936.htm#fromView=search&page=4&position=12&uuid=a6d2f20d-0a66-41ad-b942-c44fae02ea6f"
            target="_blank" title="Nouvelle fenêtre"><strong>good.svg</strong></a><br>
        <p>L’image good.svg provient de <strong>freepik.com</strong> et est disponible sous la licence Freepik Free.
            Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.freepik.com/legal/terms-of-use#nav-freepik-license" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image good.svg</a>.
        </p>

        <a href="https://www.freepik.com/free-vector/flat-emoticon-reaction-collectio_4454936.htm#fromView=search&page=4&position=12&uuid=a6d2f20d-0a66-41ad-b942-c44fae02ea6f"
            target="_blank" title="Nouvelle fenêtre"><strong>normal.svg</strong></a><br>
        <p>L’image normal.svg provient de <strong>freepik.com</strong> et est disponible sous la licence Freepik Free.
            Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.freepik.com/legal/terms-of-use#nav-freepik-license" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image normal.svg</a>.
        </p>

        <a href="https://www.freepik.com/free-vector/flat-emoticon-reaction-collectio_4454936.htm#fromView=search&page=4&position=12&uuid=a6d2f20d-0a66-41ad-b942-c44fae02ea6f"
            target="_blank" title="Nouvelle fenêtre"><strong>bad.svg</strong></a><br>
        <p>L’image bad.svg provient de <strong>freepik.com</strong> et est disponible sous la licence Freepik Free. Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://www.freepik.com/legal/terms-of-use#nav-freepik-license" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image bad.svg</a>.
        </p>

        <a href="https://feathericons.com/" target="_blank"
            title="Nouvelle fenêtre"><strong>chevron-down.svg</strong></a><br>
        <p>L’image chevron-down.svg provient de <strong>feathericons.com</strong> et est disponible sous la MIT License.
            Vous pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://github.com/feathericons/feather/blob/main/LICENSE" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image chevron-down.svg</a>.
        </p>

        <a href="https://feathericons.com/" target="_blank"
            title="Nouvelle fenêtre"><strong>chevron-left.svg</strong></a><br>
        <p>L’image chevron-left.svg provient de <strong>feathericons.com</strong> et est disponible sous la MIT License.
            Vous pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://github.com/feathericons/feather/blob/main/LICENSE" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image chevron-left.svg</a>.
        </p>

        <a href="https://feathericons.com/" target="_blank"
            title="Nouvelle fenêtre"><strong>chevron-right.svg</strong></a><br>
        <p>L’image chevron-right.svg provient de <strong>feathericons.com</strong> et est disponible sous la MIT
            License.
            Vous pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://github.com/feathericons/feather/blob/main/LICENSE" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image chevron-right.svg</a>.
        </p>

        <a href="https://feathericons.com/" target="_blank"
            title="Nouvelle fenêtre"><strong>chevron-up.svg</strong></a><br>
        <p>L’image chevron-up.svg provient de <strong>feathericons.com</strong> et est disponible sous la MIT License.
            Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://github.com/feathericons/feather/blob/main/LICENSE" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image chevron-up.svg</a>.
        </p>

        <a href="https://feathericons.com/" target="_blank" title="Nouvelle fenêtre"><strong>info.svg</strong></a><br>
        <p>L’image info.svg provient de <strong>feathericons.com</strong> et est disponible sous la MIT License. Vous
            pouvez consulter les termes de la licence en cliquant sur le lien suivant :
            <a href="https://github.com/feathericons/feather/blob/main/LICENSE" target="_blank"
                title="Nouvelle fenêtre">Droits
                d'utilisation de l’image info.svg</a>.
        </p>

    </main>
    <script src="../scripts/data-display.js"></script>
    <script src="../scripts/burgerMenu.js"></script>
</body>
<footer>
    <div class="footer-logo">
        <img src="../img/Logo_AccessPlus_1.0.svg" alt="">
    </div>
    <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="about.html">À propos</a></li>
        <li><a href="about.html#legalNotices">Mentions légales</a></li>
        <li><a href="about.html#sources">Sources</a></li>
    </ul>

</footer>

</html>
